<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAWVg5DjTkFJfBvM_UFuUDkptX4SKTlj6M</string>
	<key>GCM_SENDER_ID</key>
	<string>958006601823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.usermanagementapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>usermanagemeentapp</string>
	<key>STORAGE_BUCKET</key>
	<string>usermanagemeentapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958006601823:ios:8e99bfcf3c40bd0f7b13ea</string>
</dict>
</plist>